body, html {
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
body {
    background-color: black;
}
.header {
    background-color: white;
    font-size: 0.7em;
}
h1 {
    text-indent: 3%;
    padding-top: 1%;
    margin: 0;
}
.navbar {
    background-color: lightgray;
    padding: 1%;
    margin-top: 0;
}
ul {
    margin-top: 0;
    margin-left: 0;
    vertical-align: middle;
    padding-left: 0;
}
.navbar ul li {
    display: inline;
    padding: 10px;
    padding-left: 0;
}
.address {
    color: white;
    margin-left: 2%;
    font-style: normal;
    width: auto;
}
div .main-img {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.features, .features-press, .description {
    background-color: white;
    font-size: 1em;
    padding: 2%;
}
p {
    margin: 0;
}
.features-press {
    margin-top: 5%;
}
.description {
    margin-top: 10%;
}
@media screen and (min-width: 700px) {
    body {
        background-color: white;
    }
    .container {
        position: relative;
        width: 100%;
        margin: auto;
    }
    .header {
        padding: 5px;
    }
    .header h1 {
        text-indent: 0;
    }
    .primary {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .navbar ul li {
        display: block;
        font-size: 0.8em;
    }
    .navbar {
        background-color: white;
    }
    .address {
        position: absolute;
        top: 260px;
    }
    img {
        width: 100%;
    }
    .features {
        display: none;
    }
    .features-press {
        width: 45%;
        float: left;
        margin: 0.5%;
        height: 200px;
        background-color: green;
    }
    .description {
        width: 45%;
        float: right;
        margin: 0.5%;
        height: 200px;
        ;
        background-color: black;
        color: white;
    }
    .circle {
        border-radius: 100px;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        border-style: solid;
        display: table;
        border-color: white;
        margin-left: 0;
    }
    .circle p {
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }
}
@media screen and (min-width: 850px) {
  html, body {margin:0;padding:0;height:100%;}
    .description {
        float: right;
        width: 30%;
    }
    .container {
        overflow: hidden;
        height: 100%;
    }
    .main-img {
      height: 90%;
        width: 65%;
        display: block;
        float: left;
    }
    img{
      height: 100%;
    }
    .features-press {
        float: right;
        width: 30%;
        margin-top: 0;
    }
    .address{
      top: 400px;
    }
}
